# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
coverage.xml
*.cover
*.py,cover

# Type checkers
.mypy_cache/
.pytype/
.ruff_cache/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
scripts/**
